body {
  background-color: $background-colour;
  padding: 10px;
  margin-left: 78px;
}

li {
  list-style: none;
}

img {
  position: absolute;
  top: 10px;
  margin-left: 38%;
}


//Responsive

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  body{
    background-color: #1CAAD9;
  }

  img {
    position: absolute;
    top: 17px;
    margin-left: 12%;
    width: 150px;
    height: 100px;
  }
}