.icon-bar {
  width: 36%;
  height: 10%;
  background-color: rgba(230,230,230,0.3);
  overflow: auto;
  position: fixed;
  bottom: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.icon-bar a {
  float: left;
  width: 18%;
  padding: 12px;
  position: relative;
  left: -14px;
  transition: all 0.3s ease;
}

//Icon colour overlay image change

.overlay-colour {
  padding: 8px;
  position: absolute;
  top: -4px;
  bottom: 0;
  left: 6.2%;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-colour:hover {
  opacity: 1;
}

.icon-colour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


//Icon wheel overlay image change

.overlay-wheel {
  padding: 8px;
  position: absolute;
  top: -4px;
  bottom: 0;
  left: 28.4%;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-wheel:hover {
  opacity: 1;
}

.icon-wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Icon door overlay image change

.overlay-door {
  padding: 8px;
  position: absolute;
  top: -4px;
  bottom: 0;
  left: 50.4%;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-door:hover {
  opacity: 1;
}

.icon-door {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Icon view overlay image change

.overlay-view {
  padding: 8px;
  position: absolute;
  top: -4px;
  bottom: 0;
  left: 72.5%;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-view:hover {
  opacity: 1;
}

.icon-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Dropup icon-colour

.dropup-content {
  background: linear-gradient(90deg, #1CAAD9 0%, rgba(28, 170, 217, 0.2) 100%);
  backdrop-filter: blur(64px);
  display: none;
  position: absolute;
  min-width: 100%;
  height: 80%;
  z-index: 1;
  border: 1px;
  border-radius: 8px;

}

.dropup-content a {
  padding: 12px 16px;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup-colour:hover .dropup-content {
  display: flex;
}