.icon-bar {
  width: 343px;
  height: 96px;
  background-color: rgba(230,230,230,0.3);
  backdrop-filter: blur(64px);
  //overflow: auto;
  position: fixed;
  bottom: 0;
  padding: 16px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.icon-bar a {
  float: left;
  width: 18%;
  padding: 12px;
  position: relative;
  left: -32px;
  transition: all 0.3s ease;
}

//Icon colour overlay image change

.overlay-colour {
  padding: 8px;
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 27px;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-colour:hover {
  opacity: 1;
}

.icon-colour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



//Icon wheel overlay image change

.overlay-wheel {
  padding: 8px;
  position: absolute;
  top: -23px;
  bottom: 0;
  left: 113px;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-wheel:hover {
  opacity: 1;
}

.icon-wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Icon door overlay image change

.overlay-door {
  padding: 8px;
  position: absolute;
  top: -102px;
  bottom: 0;
  left: 199px;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-door:hover {
  opacity: 1;
}

.icon-door {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Icon view overlay image change

.overlay-view {
  padding: 8px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 78.8%;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar .overlay-view:hover {
  opacity: 1;
}

.icon-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Dropup icon-colour

.colour-dropup {
  //background: linear-gradient(90deg, #e6e6e6 #1CAAD9 0%, rgba(28, 170, 217, 0.2) 100%);
  //background: linear-gradient(90deg, #a1a09d 0%, rgba(230,230,230,0.3) 100%);
  background: linear-gradient(90deg, #e6e6e6 0%, rgba(160,160,157,0.3) 100%);
  backdrop-filter: blur(64px);
  display: none;
  position: absolute;
  width: 333px;
  height: 170px;
  padding: 16px 0 6px 41px;
  z-index: 1;
  border: 1px;
  border-radius: 10px;
  margin-top: -180px;
  margin-left: -30px;
}

.colour-dropup a {
  padding: 10px 14px;
  display: block;
}

//.dropup-content a:hover {
//  background-color: darkblue;
//  border-radius: 18px;
//}

.dropup-colour:hover .colour-dropup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


//Wheel Dropup

.wheel-dropup {
  background: linear-gradient(90deg, #e6e6e6 0%, rgba(160,160,157,0.3) 100%);
  backdrop-filter: blur(64px);
  display: none;
  position: absolute;
  width: 298px;
  height: 131px;
  padding-top: 9px;
  padding-bottom: 23px;
  padding-left: 80px;
  z-index: 1;
  border: 1px;
  border-radius: 10px;
  margin-top: -205px;
  margin-left: -16px;
}

.wheel-dropup a {
  padding: 10px 14px;
  display: block;
}


.dropup-wheel:hover .wheel-dropup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


//Door Dropup

//.door-dropup {
//  background: linear-gradient(90deg, #1CAAD9 0%, rgba(28, 170, 217, 0.2) 100%);
//  backdrop-filter: blur(64px);
//  display: none;
//  position: absolute;
//  width: 570px;
//  height: 70px;
//  z-index: 1;
//  border: 1px;
//  border-radius: 8px;
//  margin-top: -150px;
//}

.door-dropup a {
  padding: 10px 14px;
  display: block;
}


.dropup-door:hover .door-dropup {
  display: flex;
}

//View Dropup

.view-dropup {
  background: linear-gradient(90deg, #e6e6e6 0%, rgba(160,160,157,0.3) 100%);
  backdrop-filter: blur(64px);
  display: none;
  position: absolute;
  width: 302px;
  height: 200px;
  padding: 16px;
  padding-bottom: 23px;
  padding-left: 58px;
  z-index: 1;
  border: 1px;
  border-radius: 10px;
  margin-bottom: 82px;
  margin-left: -16px;
}

.view-dropup a {
  padding: 10px 14px;
  display: block;
}


.dropup-view:hover .view-dropup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


//Responsive

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .icon-bar {
    background-color: linear-gradient(94.68deg, rgba(255, 255, 255, 0.3) -17.56%, rgba(255, 255, 255, 0) 95.06%);
    backdrop-filter: blur(64px);
    display: grid;
    width: 63px;
    height: 296px;
    margin-bottom: 71px;
    position: fixed;
    left: 15px;
    padding: 2px;
    padding-bottom: 0px;
    padding-left: 17px;
  }

  .icon-bar a {
    margin-left: -1px;
    margin-top: 4px;
  }

  .colour-normal {
    width: 50px;
    height: 50px;
  }

  .wheel-normal {
    width: 50px;
    height: 50px;
  }

  .door-normal {
    width: 50px;
    height: 50px;
  }

  .view-normal {
    width: 50px;
    height: 50px;
  }

  //Icon overlay image change & size for colour

  .colour-hover {
    width: 50px;
    height: 50px;
  }
  .overlay-colour {
    left: 26px;
    top: -145px;
  }

  .carpaint {
    width: 45px;
    height: 45px;
  }

  .colour-dropup {
    width: 225px;
    height: 153px;
    margin-top: -162px;
    left: 116px;
    padding-left: 21px;
    padding-bottom: 13px;
    padding-top: 1px;
  }


  .dropup-colour:hover .colour-dropup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  //Icon overlay image change & size for wheel
  .wheel-hover {
    width: 50px;
    height: 50px;
  }
  .overlay-wheel {
    left: 27px;
    top: -147px;
  }

  .rim {
    width: 50px;
    height: 50px;
  }

  .wheel-dropup {
    width: 173px;
    height: 153px;
    margin-top: -134px;
    left: 103px;
    padding-left: 34px;
    padding-bottom: 15px;
    padding-top: 1px;
  }


  .dropup-wheel:hover .wheel-dropup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  //Icon overlay image change & size for door
  .door-hover {
    width: 50px;
    height: 50px;
  }

  .overlay-door {
    left: 27px;
    top: -162px;
  }

  .door {
    width: 50px;
    height: 50px;
  }
  .door-dropup {
    min-width: 150%;
    height: 20%;
    margin-top: -42%;
    left: 102%;
  }


  //Icon overlay image change & size for view
  .view-hover {
    width: 50px;
    height: 50px;
  }

  .overlay-view {
    left: 25px;
    top: 170px;
  }

  .view {
    width: 45px;
    height: 45px;
  }

  .view-dropup {
    width: 165px;
    height: 226px;
    margin-bottom: -40px;
    left: 102px;
    padding-left: 30px;
    padding-bottom: 13px;
    padding-top: 1px;
  }

}