.icon-bar {
  width: 36%;
  height: 10%;
  background-color: #555;
  overflow: auto;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.icon-bar a {
  float: left;
  width: 18%;
  padding: 12px;
  position: relative;
  left: -14px;
  transition: all 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 18%;
  width: 18%;
  opacity: 0;
  transition: .3s ease;
}

.icon-bar:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
  position: relative;
  display: inline-block;
}
